<!DOCTYPE html>
<html>
<head>
  <title>Mapper</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2>
	<%= link_to 'Mapper', root_path %>
</h2>
<h2>
	<%= link_to 'New+', new_place_path %>
</h2>
<%= yield %>

</body>
</html>
